{% extends "base.html"%}

{% block body_block %}
{% load django_bootstrap5 %}
<h1>
    {% if not form.instance.pk %}
    新增收支
    {% else %}
    修改收支
    {% endif %}
</h1>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary" value="提交">
    {% if not form.instance.pk %}
    <a class='btn btn-secondary' href="{% url 'finance_app:list' %}">取消</a>
    {% else %}
    <a class='btn btn-secondary' href="{% url 'finance_app:detail' pk=form.instance.pk %}">取消</a>
    {% endif %}
</form>

{% endblock%}