{% extends "base.html"%}
{% load account_tags %}
{% block body_block %}
<h1>收支列表</h1>
<table class="table">
<thead class="table-dark">
        <th>收/支</th>
        <th>名目</th>
        <th>支出對象</th>
        <th>收入對象</th>
        <th>金額</th>
        <th>幣別</th>
        <th>經手人</th>
        <th>紀錄時間</th>
        
</thead>
    {% for uni_finance in finance %}
    <tr>
        <td>{{ uni_finance.status }}</td>
        <td><a href="{% url 'finance_app:detail' pk=uni_finance.pk %}">{{ uni_finance.title }}</a></td>
        <td>{{ uni_finance.out_name }}</td>
        <td>{{ uni_finance.in_name }}</td>
        <td>{{ uni_finance.amount }}</td>
        <td>{{ uni_finance.dollor }}</td>
        <td>{{ uni_finance.created_from }}</td>
        <td>{{ uni_finance.created_at }}</td>
 
    </tr>
    {% endfor %}

</table>
<b>Test_Tag: {% total_list %}</b>
{% endblock %}
