{% extends 'base.html' %}
{% block body_block %}
<div class="jumbotron">
    <h1>財務</h1>
    <h2>收支資料</h2>
    <p>收/支: {{finance_detail.status}}</p>
    <p>名目: {{finance_detail.title }} </p>
    <p>支出對象:{{finance_detail.out_name}}</p>
    <p>收入對象:{{finance_detail.in_name}}</p>
    <p>金額:{{finance_detail.amount}}</p>
    <p>幣別:{{finance_detail.dollor}}</p>
    <p>經手人:{{finance_detail.created_from}}</p>
    <p>紀錄時間:{{finance_detail.created_at}}</p>
    

</div>
<div class="container">
    <p><a class='btn btn-warning' href="{% url 'finance_app:update' pk=finance_detail.pk %}">更新</a>
        <a class='btn btn-danger' href="{% url 'finance_app:delete' pk=finance_detail.pk %}">刪除</a>
    <a class='btn btn-secondary' href="{% url 'finance_app:list' %}">取消</a></p>
</div>
{% endblock %}
<h1></h1>