{% extends "base.html"%}
<title>嘉義縣仁合慈善會</title>
<head>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    
   
</head>
<body>
    {% load django_bootstrap5 %}
    

    {% block body_block %}
<script>
    function show_student(school){
        alert(school);
    }
</script>
    <h1>
        選取個案學校
     </h1>
 
    
    <table class="table">
        <thead>
    目前所記錄的學校
</thead>
        <tbody>
    {% for uni_school in school %}
    <tr>
    <td>
        
    <form method="POST" action="student">
        {% csrf_token %}
        <input type="hidden" name="school" value="{{ uni_school.id }}">
        <input type="hidden" name="school_name" value="{{ uni_school }}">
    <input class="btn btn-primary" type="submit" id="btn_school_{{ uni_school.id }}" value="{{ uni_school }}">
</form>
</td>
</tr>
    {% endfor %}
    </tbody>
    
    </table>
    <div class="container">
        <div class="row justify-content-end"></div><a href="{% url 'school_app:create' %}" class="btn btn-danger">新增學校</a> 
    <a class='btn btn-warning' href="{% url 'case_app:list' %}">取消</a>
</div>    
</div>



    {% endblock %}

</body>