{% extends "base.html"%}

{% block body_block %}
{% load django_bootstrap5 %}
<form method="get" >
    {{ filter.form.as_p }}
    <button type="submit" class="btn btn-primary">Search</button>
  </form>



<h1>學校列表</h1>
<table class="table">
<thead class="table-dark">
        <th>校名</th>
        <th>負責人</th>
        <th>負責人電話</th>
        <th>備註</th>
       
</thead>
    {% for uni_school in filter.qs %}
    <tr>
        <td><a href="{% url 'school_app:detail' pk=uni_school.pk %}">{{ uni_school.name }}</a></td>
        <td>{{ uni_school.represent_person_name }}</td>
        <td>{{ uni_school.represent_person_phone }}</td>
        <td>{{ uni_school.memo }}</td>
        

    </tr>
    {% endfor %}

</table>

{% endblock %}

