{% extends "base.html"%}

{% block body_block %}
{% load crispy_forms_tags %}
<h1>
    {% if not form.instance.pk %}
    新增學校
    {% else %}
    更新學校資訊
    {% endif %}
</h1>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="提交"> 
    {% if not form.instance.pk %}
    <a class='btn btn-secondary' href="{% url 'school_app:list' %}">取消</a>
    {% else %}
    <a class='btn btn-secondary' href="{% url 'school_app:detail' pk=form.instance.pk %}">取消</a>
    {% endif %}
</form>

{% endblock%}