{% extends "base.html"%}

{% block body_block %}
<h1>學生列表</h1>
<table class="table">
<thead class="table-dark">
        <th>學生姓名</th>
        <th>電話</th>
        <th>學校</th>
        <th>地址</th>
        <th>備註</th>
</thead>
    {% for uni_student in student %}
    <tr>
        <td><a href="{% url 'student_app:update' pk=uni_student.pk %}">{{ uni_student.name }}</a></td>
        <td>{{ uni_student.phone }}</td>
        <td>{{ uni_student.school }}</td>
        <td>{{ uni_student.address }}</td>
        <td>{{ uni_student.memo }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}
