{% extends 'base.html' %}
{% block body_block %}
<div class="jumbotron">
    <h1>學生</h1>
    <h2>學生基本資訊</h2>
    <p>個案編號: {{student_detail.case_id}}</p>
    <p>姓名: {{student_detail.name}}</p>
    <p>電話: {{student_detail.phone }} </p>
    <p>學校: {{student_detail.school }} </p>
    <p>地址:{{student_detail.address}}</p>
    <p>已結案:{{student_detail.is_end}}</p>
    <p>備註:{{student_detail.memo}}</p>
    

</div>
<div class="container">
    <p><a class='btn btn-warning' href="{% url 'student_app:update' pk=student_detail.pk %}">更新</a>
        <a class='btn btn-danger' href="{% url 'student_app:delete' pk=student_detail.pk %}">刪除</a>
    <a class='btn btn-secondary' href="{% url 'student_app:list' %}">取消</a></p>
</div>
{% endblock %}
<h1></h1>