{% extends 'base.html' %}
{% block body_block %}
<div class="jumbotron">
    <h1>Welcome to the Student Detail Page</h1>
    <h2>Student details:</h2>
    <p>Name: {{student_detail.name}}</p>
    <p>Phone: {{student_detail.phone }} </p>
    <p>Address:{{student_detail.Address}}</p>
    <h3>Students:</h3>

    {% for student in student_detail.students.all %}
    <p>{{student.name}} who is {{student.phone}} years old.</p>
    {% endfor %}
</div>
<div class="container">
    <p><a class='btn btn-warning' href="{% url 'student:update' pk=student_detail.pk %}">Update</a></p>
</div>
{% endblock %}
<h1></h1>